.signup {
    margin: 10px 0 0 0;
}

section.gradient {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}

.copyright {
    color: rgb(0, 0, 0);
    font-size: 0.8em;
    padding-bottom: 10px;
}

.features {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 24px;
    padding-right: 24px;
}